@font-face {
  font-family: 'Carnevalee Freakshow';
  src: url( './Carnevalee Freakshow.ttf');

}

.backgound {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  font-family: "Carnevalee Freakshow", Times New Roman; /* use a vintage font */
  margin: 10px;
  padding: 10px;
  /* border-radius: 10px; */
  background-color: rgba(226, 40, 40, 0.582);
  /* background-image: url('card.jpg'); add a vintage-looking background image */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;    
}

.img {
  width: 50%;
  height: 30%;
  margin: auto;
  display: table-row-group;
  flex-direction: row;
  border-radius: 10px;
}

.card-name {
  text-align: center;
  font-size: 1.5rem;
  margin: 6px;
  font-family: 'Carnevalee Freakshow', cursive 
}

.card-continent {
  text-align: center;
  font-size: 1rem;
  margin: 6px;
  font-family: 'Carnevalee Freakshow', cursive;
}

.btn {
  background: rgb(255, 255, 255);
  border: measurement solid black;
  cursor: pointer;
  font-family: 'Carnevalee Freakshow', cursive; 
  letter-spacing: measurement;
  margin: 0.5rem;
  padding: 0.5em 0.75em;
  position: relative;
  text-transform: uppercase;
  
    }

.btn:hover{
  background-color: #fff;
  border-color: transparent;
  color: #000;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition: all 0.3s ease-in-out;
 
}
