@font-face {
    font-family: 'Carnevalee Freakshow';
    src: url( './Carnevalee Freakshow.ttf');

}


s.container{
    background-color: antiquewhite;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.backgroundDetail{
    background-image: url("./oldWorldMap.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;    
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: row;
}
.detail {
    color: rgb(17, 16, 16);
    width: 100%;
    max-height: 5000px;
    margin: auto;
    display: flex;
    flex-direction: row;
    
}

.info{
    column-count: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    line-break: auto;
    align-items: center;
    margin-bottom: auto;
    margin-right: auto;
    text-decoration: none;

}

.name {
    font-size: 4em;
    font-stretch: normal;
    font-style: normal;
    font-weight: 300;
    margin: auto;
    font-family: 'Carnevalee Freakshow', cursive;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    align-self: auto;
    justify-content: center;
}

.div1 {
    display: flex;
    justify-content: center;
    align-items: justify;
    padding: 2%;
    border-radius: 20px;
}

.div2 {
    flex-basis: 60%;
    display: flex;
    flex-direction: column;
    justify-content: justify;
    align-items: center;
    margin-bottom: 40px;
    text-decoration: none;
}

.img {
    margin-top: 80px;
    max-height: 200px;
    size-adjust: auto;
    align-items: left;
    border-radius: 5%;
    flex-basis: 50%;
}

.div3 {
    font-family: 'Carnevalee Freakshow', cursive;
    color: rgb(14, 13, 13);
    font-weight: 200;
    font-size: 2rem;
    font-stretch: normal;
    text-decoration: none;
    width: 100%;    
    flex-direction: row;    
    align-items: center;
    justify-content: center
}

.data1 {
    font-family: 'Carnevalee Freakshow', cursive;
    color: rgb(255, 255, 255);
    font-weight: 200;
    font-size: 2rem;
    font-stretch: normal;
    text-decoration: none;
    width: 100%;    
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center
}

.btn {
    color: white;
    background-color: rgba(70, 70, 70, 0.582);
    text-decoration-line: none;
    border-width: 3px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 1.2rem;
    margin: 0;
    font-family: 'Montserrat';
}

.h3 {
    font-size: 75px;
    margin-top: 150px;
}

.p {
    font-size: 37.5px;
}

.btn2 {
    background: rgb(255, 255, 255);
    border: measurement solid black;
    font-size: 2rem;
    cursor: pointer;
    font-family: 'Carnevalee Freakshow', cursive; 
    letter-spacing: measurement;
    margin: 0.5rem;
    padding: 0.5em 0.75em;
    position: relative;
    text-transform: uppercase;
}

.btn2:hover{
    background-color: #fff;
    border-color: transparent;
    color: #000;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    transition: all 0.3s ease-in-out;
}