@font-face {
    font-family: 'Carnevalee Freakshow';
    src: url( './Carnevalee Freakshow.ttf');

}
/* 
.header-order{
    display:flex;
    flex-direction: row;
   
} */

.background{
    /* float:left; */
    /* position:relative; */
    background-image: url("./oldWorldMap.jpg"); 
    background-size: cover;
    background-repeat: no-repeat;
    /* height: 100%; 
    width: 100vw;  */
    background-position: center center;
    position: relative;
    background-attachment: fixed;    
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;  */
    
}

.title{
    
    background-clip: text;
    color:rgb(255, 251, 251);
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    font-size: 100px;
    font-weight: 350;
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Carnevalee Freakshow', cursive;
    ;
}

.card{
    background-color: rgba(123, 114, 114, 0.582);    
    position: relative;
    font-size: 2rem;
    color: rgba(0, 0, 0, 0.8);
    font-weight: 200;    
    border-radius: 15px;
    padding: 10px;
    margin: 25px;
    flex-basis: 20%;
    width: 20%;
    text-decoration: solid;
    text-decoration-line: none;
}

.card:hover{
-webkit-transform: scale(1.2);
-ms-transform: scale(1.2);
transform: scale(1.2);
transition: 0.8s ease;
}

.filters{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: rgba(70, 70, 70, 0.582);
    color: white;
    border-color: white;
    border-radius: 2.5px;
    border-width: 2.5px;     
    margin-left: auto;
    margin-right:auto;
    font-size: 1.2rem;
    font-family: "Carnevalee Freakshow";
    cursor: pointer;
}

.cAct {
    background-color: rgba(255, 36, 36, 0.582);;
    border-radius: 2.5px;
    border-width: 3px;
    position: relative;
    color: rgb(252, 245, 245);
    border-color: white;  
    margin-left: 5px; 
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 3rem;
    font-family: "Carnevalee Freakshow";
    cursor: pointer;
    flex-direction: row;
}

.containerfilters {
    width: 15%; /* adjust as needed */
    float:left;
    flex-direction: row;
    /* flex-wrap: wrap; */
    align-items: center;
    /* justify-content: center; */
    background-color: rgba(70, 70, 70, 0.582);
    color: white;
    border-color: white;
    border-radius: 2.5px;
    border-width: 2.5px;     
    margin-left: 70px;
    margin-right:auto;
    font-size: 1.5rem;
    font-family: "Carnevalee Freakshow";
    cursor: pointer; 
}

.cards{
    position: relative;   
    border-radius: 10px;
    padding: 0% 8%;
    margin: 5px;
    width: 80%;
    height: 20%;
    display: flex;
    flex-basis: 25%;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-content: center;
    text-decoration: solid;
    text-decoration-line: none;
   
}
