.paginated {
    text-align: center;
    display: flex;
    padding: 40px;
    justify-content: center;
    margin: 1px;
  }
  
  .container_button {
    list-style: none;
    text-align: center;
    margin: 0rem;
    display: flex;
    flex-wrap: nowrap
  }
  
  .container_button button {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: bolder;
    font-family: "Montserrat";
    margin: 0.15rem;
    cursor: pointer;
    border-radius: 10%;
    text-align: center;
  
  }
  
  .container_button button:hover {
    transform: scale(1.2);
  }