
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200&display=swap');
@font-face {
    font-family: 'Carnevalee Freakshow';
    src: url( './Carnevalee Freakshow.ttf');

}
.divVI{
    position:relative;
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.inpI{
    display: flex;
    padding: 10px 35px;
    border-radius: 5px;
    outline: none;
    font-family: "Carnevalee Freakshow", cursive;
    font-size: 15px;
}

.btnV{
    background-color: rgba(70, 70, 70, 0.582);
    border-color: white;
    color: white;
    font-size: 15px;
    padding: 5px 10px 5px 10px;
    font-family: "Carnevalee Freakshow", cursive;
    border-radius: 2.5px;
    border-width: 3px;
    cursor: pointer;
}