@font-face {
    font-family: 'Carnevalee Freakshow';
    src: url( './Carnevalee Freakshow.ttf');

}

.home-card {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    font-family: "Carnevalee Freakshow", Times New Roman; /* use a vintage font */
    margin: 10px;
    padding: 10px;
    /* border-radius: 10px; */
    background-color: rgba(70, 70, 70, 0.582);
    background-image: url('card-background.jpg'); /* add a vintage-looking background image */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;    
  }
  
  .card-image {
    width: 50%;
    height: 50%;
    margin: auto;
    display: table-row-group;
    flex-direction: row;
    border-radius: 10px;
  }
  
  .card-name {
    text-align: center;
    font-size: 1.5rem;
    margin: 6px;
    font-family: 'Carnevalee Freakshow', cursive 
  }
  
  .card-continent {
    text-align: center;
    font-size: 1rem;
    margin: 6px;
    font-family: 'Carnevalee Freakshow', cursive;
  }
  
  .card-btn {
    background: rgb(255, 255, 255);
    border: measurement solid black;
    cursor: pointer;
    font-family: 'Carnevalee Freakshow', cursive; 
    letter-spacing: measurement;
    margin: 0.5rem;
    padding: 0.5em 0.75em;
    position: relative;
    text-transform: uppercase;
    
      }

  .card-btn:hover{
    background-color: #fff;
    border-color: transparent;
    color: #000;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    transition: all 0.3s ease-in-out;
   
  }
  

/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200&display=swap');


.home-card{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    font-family: "Montserrat";
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(70, 70, 70, 0.582);

}

.card-image{
    width: 150px;
    height: 60px;
    margin: auto;
    display: table-row-group;
    flex-direction: row;
    border-radius: 10px;
}

.card-name {
    text-align: center;
    font-size: 1rem;
    margin: 6px;
    font-family: "Montserrat";
}

.card-continent {
    text-align: center;
    font-size: 1rem;
    margin: 6px;
    font-family: "Montserrat";
}

.card-btn {
    background: white;
    border: measurement solid black;
    cursor: pointer;
    font: 2000 1rem 'Montserrat';
    letter-spacing: measurement;
    margin: 0.5rem;
    padding: 0.5em 0.75em;
    position: relative;
    text-transform: uppercase;
} */