@font-face {
  font-family: 'Carnevalee Freakshow';
  src: url( './Carnevalee Freakshow.ttf');

}
.pagination{
    display: flex;
    position:absolute;   
    height: 10%;
    width: 10%;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
    font-family: 'Carnevalee Freakshow';

}

.button{
    background-color: #000000;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    font-family: 'Carnevalee Freakshow';
}
